body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    /* background-image: url("Fotos/background.png"); */
    background-image: url("Fotos/branco.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    max-width: 600px;
    margin: 10% auto;
    background-color: #fff;
    padding: 100px;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
    /* TROCAR AQUIIIIIII AS COISAS DO TITULO */
}

button {
    background-color: #e44e02;
    color: black;
    border: none;
    padding: 30px 40px;
    margin: 10px;
    /* border-radius: 4px; */
    cursor: pointer;
}

button:hover {
    background-color:#fe753b;
    
}

#score {
    font-weight: bold;
    
}
.question-number p{
    background-color: red;
}
